{% extends 'partials/base.html' %} {% block title %} all uploads {% endblock title %} 
{% load sizify %} 

{% block content %}

<div class="dashboard-wrapper">

  <div class="uploads-container">

    {% for up in uploads %}
    <div class="upload-card">
    <a href="{% url 'upload_info' up.slug %}" target="_blank"><span class="drac-text-purple"
      >{{ up.slug }}</span
    >
    <span class="drac-text-pink"
      >{{ up.image.name|cut:'uploads/' }}</span
    >
    <span class="drac-text drac-line-height drac-text-white"
      >{{ up.image.size|sizify }}</span
    >
    <img id="uploadimg" src="{{ up.image.url }}" alt="" srcset="" style="width: 250px" />
    </a>
    <a href="{% url 'del_upload' up.pk %}" style="color: red; font-weight: bold;">delete</a>
    </div>
    {% endfor %}

  </div>

  
</div>
{% endblock content %}
