{% extends 'partials/base.html' %} {% block title %} dashboard {% endblock title %} 

{% block content %}

<div class="dashboard-wrapper">
  <div class="sidenav-comp">{% include 'partials/sidenav.html' %}</div>

  <div class="profile2">
    <div class="card">
      <div class="card-content">
        <h1>Stats</h1>
        <div class="stats">
          <div
            variant="subtle"
            class="drac-box drac-card drac-card-subtle drac-border-purple drac-bg-pink drac-p-md drac-m-md"
          >
            <span class="drac-text drac-line-height drac-text-purple"
              >Total Users</span
            >
            <span class="drac-text drac-line-height drac-text-white">{{ users }}</span>
          </div>

          <div
            variant="subtle"
            class="drac-box drac-card drac-card-subtle drac-border-pink drac-bg-pink drac-p-md drac-m-md"
          >
            <span class="drac-text drac-line-height drac-text-pink"
              >Total Uploads</span
            >
            <span class="drac-text drac-line-height drac-text-white"
              >12534</span
            >
          </div>

          <div
            variant="subtle"
            class="drac-box drac-card drac-card-subtle drac-border-cyan drac-bg-pink drac-p-md drac-m-md"
          >
            <span class="drac-text drac-line-height drac-text-cyan"
              >Storage Used</span
            >
            <span class="drac-text drac-line-height drac-text-white"
              >12534
            </span>
          </div>

        </div>

        <div class="stats">
                                <div
            variant="subtle"
            class="drac-box drac-card drac-card-subtle drac-border-pink drac-bg-green drac-p-md drac-m-md"
          >
            <span class="drac-text drac-line-height drac-text-green"
              >Uploads Today</span
            >
            <span class="drac-text drac-line-height drac-text-white"
              >12534</span
            >
          </div>

                              <div
            variant="subtle"
            class="drac-box drac-card drac-card-subtle drac-border-orange drac-bg-pink drac-p-md drac-m-md"
          >
            <span class="drac-text drac-line-height drac-text-orange"
              >Average Daily Upload</span
            >
            <span class="drac-text drac-line-height drac-text-white"
              >12534</span
            >
          </div>
        </div>
      </div>
    </div>

  </div>
    {% include 'partials/footer.html' %}

  {% endblock content %}
</div>
