{% extends 'partials/base.html' %} {% block title %} dashboard {% endblock title %} 
{% load sizify %} 

{% block content %}

<div class="dashboard-wrapper">
  <div class="sidenav-comp">{% include 'partials/sidenav.html' %}</div>

  <div class="profile2">
    <div class="card">
      <div class="card-content">
        <h1>Stats</h1>
        <div class="stats">
          <table class="drac-table drac-table-cyan">
            <thead>
              <tr>
                <th class="drac-text drac-text-white">Users Registered</th>
                <th class="drac-text drac-text-white">Total Uploads</th>
                <th class="drac-text drac-text-white">Uploads Today</th>
                <th class="drac-text drac-text-white">Average Daily Upload</th>
                <th class="drac-text drac-text-white">Used Storage</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="drac-text drac-text-purple" style="text-shadow: 0 0 8px #747bff;">{{ users }}</td>
                <td class="drac-text drac-text-pink" style="text-shadow: 0 0 8px #FFC0CB;">{{ uploads }}</td>
                <td class="drac-text drac-text-green" style="text-shadow: 0 0 8px #00FF00;">{{ uploads_today }}</td>
                <td class="drac-text drac-text-cyan" style="text-shadow: 0 0 8px #00FFFF;">{{ average_daily_uploads|floatformat:2 }}</td>
                <td class="drac-text drac-text-orange" style="text-shadow: 0 0 8px #FFA500;">{{ storage_used|sizify }}</td>
              </tr>
            </tbody>
          </table>
          
      </div>

          <div class="stats">
          <table class="drac-table drac-table-cyan">
            <thead>
              <tr>
                <th class="drac-text drac-text-white">Last Created User at:</th>
                <th class="drac-text drac-text-white">Last Upload at:</th>
                <th class="drac-text drac-text-white">Last Upload Size:</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="drac-text drac-text-purple" style="text-shadow: 0 0 8px #747bff;">{{ last_created_user_time }}</td>
                <td class="drac-text drac-text-pink" style="text-shadow: 0 0 8px #FFC0CB;">{{ last_upload_time }}</td>
                <td class="drac-text drac-text-green" style="text-shadow: 0 0 8px #00FF00;">{{ last_image_size|sizify }}</td>
              </tr>
            </tbody>
          </table>
          
      </div>
    </div>

  </div>

</div>
    {% include 'partials/footer.html' %}

  {% endblock content %}
