{% extends 'partials/base.html' %} {% block title %} login {% endblock title %}

{% block content %}

{% include 'partials/homebtn.html' %}


<div class="main-wrapper">
    <div class="login-form">
        <form method="post">
        {% csrf_token %}

            <div class="drac-box">
                <input
                name="username"
                    type="text"
                    placeholder="username"
                    class="drac-input drac-input-purple drac-text-purple drac-m-xs"
                    required
                />
                <input
                name="password"
                    placeholder="password"
                    type="password"
                    class="drac-input drac-input-purple drac-text-purple drac-m-xs"
                    required
                />
                  <button class="drac-btn drac-bg-purple drac-m-sm" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}