{% load static %} {% load sizify %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dracula-ui.css' %}" />
    <title>{{ image.slug }} | kurumi eyes</title>
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:image" content="{{ image.image.url }}"> 
    <meta name="twitter:image:src" content="{{ image.image.url }}">
    <meta property="og:image" content="{{ image.image.url }}">
    <meta name="theme-color" content="#FF6EC4"> 
    <meta property="og:title" content="{{ image.uploaded_at }} "> 
    <meta name="twitter:title" content="{{ image.uploaded_at }} ">
    <meta property="og:site_name" content="{{ image.image.size|sizify }} image"> 
    <meta name="twitter:site" content="{{ image.image.size|sizify }} image">
  </head>
  <body>


    <div class="info-wrapper">


      <div class="card">
        <div class="img-source">
          <h2><span>{{ image.slug }}</span></h2>
          <h3>
            {{ image.image.name|cut:'uploads/' }} ({{ image.image.size|sizify }})
          </h3>
          <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="" /></a>
        </div>

        <div class="img-details">
          <h1>Uploaded by: <span>{{ image.user }}</span></h1>
          <h2>Uploaded on: <span>{{ image.uploaded_at }}</span></h2>
        </div>

        <a href="{% url 'download' image.slug %}"><button class="drac-btn drac-bg-purple-cyan drac-m-sm" type="submit">
          download
        </button></a>
      </div>
    </div>
  </body>
</html>

